In [1]:
#import pyconfig
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/pcjedi/check24/main/rows-simple.csv')
df

,pricelayer.prices.effective.amount,pricelayer.provider.name,tariff.names.default,tariff.network.name,tariff.internet.pricePerUnit.price.amount,tariff.internet.traffic.value,tariff.internet.speed.value,tariff.ageCheck,tariff.voice.highestPrice.amount,tariff.voice.flatrate,tariff.sms.highestPrice.amount,tariff.sms.flatrate,tariff.contract.periods.contract.value,tariff.contract.periods.contract.unit
0,-125,klarmobil,Handy-Spar-Tarif,Telekom,2,0,21000,0,9,False,9,False,1,month
1,-105,EDEKA smart,talk,Telekom,3,0,300000,0,9,False,9,False,0,month
2,-104,Lidl Connect,Classic,Vodafone,1,0,25000,0,9,False,9,False,0,day
3,-104,novamobil,9 Cent Tarif,Telefónica,24,0,21600,0,9,False,9,False,0,day
4,-104,Netzclub,Sponsored Surf Basic 2.0,Telefónica,0,200,21600,0,9,False,9,False,0,day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,6428,mobilcom debitel,Red XL,Vodafone,0,9999000,500000,0,0,True,0,True,24,month
340,7524,Vodafone,GigaCube Pro,Vodafone,0,500000,300000,0,0,False,0,False,24,month
341,7795,Telekom,Magenta Mobil XL,Telekom,0,9999000,300000,0,0,True,0,True,24,month
342,8292,Telekom,MagentaEINS Plus S,Telekom,0,9999000,100000,0,0,True,0,True,1,month
343,9292,Telekom,MagentaEINS Plus M,Telekom,0,9999000,250000,0,0,True,0,True,1,month

In [3]:
df_min = df.groupby(['tariff.network.name', 'tariff.internet.traffic.value', 'tariff.ageCheck'])['pricelayer.prices.effective.amount'].min().reset_index()
df_min

,tariff.network.name,tariff.internet.traffic.value,tariff.ageCheck,pricelayer.prices.effective.amount
0,Telefónica,0,0,-104
1,Telefónica,100,0,471
2,Telefónica,200,0,-104
3,Telefónica,300,0,699
4,Telefónica,500,0,571
...,...,...,...,...
109,o2,100000,0,1999
110,o2,120000,0,3495
111,o2,120000,28,3082
112,o2,9999000,0,1491
113,o2,9999000,28,2166

In [4]:
pd.merge(df, df_min)[df_min.columns.to_list() + ['pricelayer.provider.name', 'tariff.names.default']]

,tariff.network.name,tariff.internet.traffic.value,tariff.ageCheck,pricelayer.prices.effective.amount,pricelayer.provider.name,tariff.names.default
0,Telekom,0,0,-125,klarmobil,Handy-Spar-Tarif
1,Vodafone,0,0,-104,Lidl Connect,Classic
2,Vodafone,0,0,-104,Rossmann mobil,FAMILY & FRIENDS
3,Telefónica,0,0,-104,novamobil,9 Cent Tarif
4,Telefónica,0,0,-104,Ay Yildiz,aystar
...,...,...,...,...,...,...
113,Telekom,200000,0,4250,congstar,Homespot 200
114,Vodafone,250000,0,4524,Vodafone,GigaCube Max
115,Vodafone,9999000,0,6428,mobilcom debitel,Red XL
116,Vodafone,500000,0,7524,Vodafone,GigaCube Pro
117,Telekom,9999000,0,7795,Telekom,Magenta Mobil XL